<div id="content">
    <div class="card-title">
        <h1 class="title">Hamburguer Com Fritas</h1>
        <h1 class="data">07/01/2023</h2>
    </div>
    <div id="conteiner">
        <div id="sidebar">
            <div id="img1">
                <img src="https://images.unsplash.com/photo-1600688640154-9619e002df30?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80" alt="hambúrguer">
            </div>
            <div class="card">
                <h2>Informações do autor da receita</h2>
            </br>
                <ul id="text">
                    <p><i class="fa fa-user" aria-hidden="true"></i><b> Nome:</b> Adriana</p>
                    <p><i class="fa fa-address-card" aria-hidden="true"></i><b> Profissão:</b> Comerciante</p>
                    <p><i class="fa-solid fa-envelope" aria-hidden="true"></i><b> Email:</b> adrianalanches@gmail.com.br</p>
                    <p><i class="fa-brands fa-instagram" aria-hidden="true"></i><b> Instagram:</b> <a target="_blank"
                            href="#">@AdrianaLanches</a></p>
                </ul>
            </div>
        </div>
    
        <div class="card">
            <div class="ingredientes">
            </br>
                <h3 id="textTexto">Ingredientes</h3>
            </br>
                <ul id="textTexto">
                    <li>400 g de carne moída temperada</li>
                    <li>300 g de queijo americano</li>
                    <li>50 g de alface</li>
                    <li>Meia cebola pequena cortada em rodelas</li>
                    <li>Pão de Hamburguer</li>
                </ul>
            </br>
                <h3 id="textTexto">Modo de Preparo</h2>
            </br>
              <ul id="textTexto">
               <li>  Em uma chapa aquecida modele o hamburguer coloque o bacon para fritar .</p></li>
               <li>  Corte uma cebola roxa da média em rodelas.</p></li>
               <li>  Corte o pão do hamburguer.</p></li>
               <li>  Coloque a batatinha para fritar.</p></li>
               <li>  Agora é so montar o hamburguer.</p></li>
               <li>  Acrescente a batatinha frita.</p></li>
            </ul>
            </div>
        </div>
    </div>
    <div class="card1">
        <h2>Empresa</h2>
    </br>
        <p>Casa do Lanche.</p>
    </div>
</div>